.container {
  margin-bottom: 50px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

.wrapper {
  padding: 10px 10px;
}

/* .container {
  display: flex;
} */

/* .wrapper {
  padding: 25px 40px;
} */

.modal_card {
  /* width: 300px; */
  max-height: 593px;
  margin-right: 30px;
  position: relative;
}

.title {
  font-size: 30px;
  padding-bottom: 20px;
}

/* .title {
  font-size: 40px;
} */

.item {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 15px;
}

.list {
  margin-bottom: 20px;
}

.item_value {
  color: rgb(4, 134, 4);
}

.overviev {
  /* padding-right: 50px; */
  margin-bottom: 20px;
}

/* .overviev {
  padding-right: 50px;
} */

.cast_title {
  color: rgb(4, 134, 4);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 15px;
  list-style: none;
  margin-bottom: 20px;
  display: block;
}

.cast_title:hover {
  color: rgb(112, 202, 120);
}

.backBtn {
  background-image: url(../../pictures/back.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  background-color: transparent;
}

.backBtn:hover {
  background-image: url(../../pictures/backHover.png);
}

@media screen and (min-width: 768px) {
  .modal_card {
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
  }
  .wrapper {
    padding: 25px 40px;
  }
  .title {
    font-size: 40px;
  }
  .overviev {
    padding-right: 50px;
  }
}
